	    #mainrogo {
			text-align: center;
			font-family: 'Cafe24SsurroundAir';
			font-style: oblique;
			font-size: 30px;
		}
        #mainrogo a{
            color: black;
            text-decoration: none;
        }
        #mainrogo a:hover {
            color : gray;
        }
        marquee{
            font-family: 'GangwonEdu_OTFBoldA';
        }
		#search {
			text-align: end;
			padding: 10px 3px;
			margin-bottom: 10px; 
		}
        #menubar {
				background-color: black;
		}
		#menubar ul{
			text-align: center;
			margin: 0%;
			padding: 20px;
			width : 100%;
		}
		#menubar ul li {
			display : inline-block; /* 새 줄로 넘어가지 않게 */
 			list-style-type : none; /* 마커 삭제 */
			padding : 0px 200px; /* top=bottom=0, left=right=15px */  
		}
		#menubar ul li a {
			font-size: 20px;
			color : white;
			font-weight: bold;
			text-decoration : none; /* 링크 보이지 않게 */
		}
		#menubar ul li a:hover {
			color : gray; /* 마우스 올라 갈 때 색 */
		}
		.BEST {
			text-align: center;
			font-size: 30px;
			font-weight: bold;
		}
        body {
            padding: 5px;
        }
		.TOP {
			display : inline-block;
		}
		.OUTER {
			display : inline-block;
		}
		.BOTTOM{
			display : inline-block;
		}
		div figure figcaption{
			text-align: end;
			font-family: 'NanumSquareNeo-Variable';
			font-size: 20px;
			text-shadow: 0px 3px 3px rgb(75, 97, 105);

		}
		div figure p{
			text-align: end;
			font-family: NanumSquareNeo-Variable;
		}
        @font-face {
            font-family: 'GangwonEdu_OTFBoldA';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Cafe24SsurroundAir';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
		@font-face {
			font-family: 'NanumSquareNeo-Variable';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'SUIT-Regular';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
			font-weight: normal;
			font-style: normal;
		}